---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [core]
    width: 8
    image: true
- - roles: [student]
    width: 8
    image: true
- - roles: [collab]
    width: 8
    image: true
- - roles: [alum]
    width: 8
    image: false
---
<div class="jumbotron">
    <p>
        We are the <b>Temporal</b> research group from <b>Chile</b>. We research on High Performance Computing (HPC).
    </p>
</div>
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 64%;
}

.right {
  width: 36%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
</style>
<div class="row">
    <div class="column left">
        <h2>Research</h2>
        <div class="card-columns">
            {% comment %}
            Sort the projects by date, putting those without dates last
            {% endcomment %}
            {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
            {% assign projects_by_date = projects_by_date | reverse %}
            {% for p in projects_by_date %}
                {% if p.status != "inactive" %}
                    {% include project-card.html project=p %}
                {% endif %}
            {% endfor %}
        </div>

    </div>
  <div class="column right">
        <a class="twitter-timeline" data-height="400" data-theme="dark" href="https://twitter.com/Tempora72704468?ref_src=twsrc%5Etfw">Tweets by Tempora72704468</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
